<form action="<%= $SITE_URL %>/admin/site_config" method="post">
	<p>站点标题: <input type="text" name="site_title" value="<%= @site_title %>" /></p>
	<p>站点说明: <input type="text" name="site_description" value="<%= @site_description %>" /></p>
	<p>站点脚注: <input type="text" name="site_footer" value="<%= @site_footer %>" /></p>
	<p>meta说明: <input type="text" name="meta_description" value="<%= @meta_description %>" /></p>
	<p>meta关键字: <input type="text" name="meta_keywords" value="<%= @meta_keywords %>" /></p>
	<input type="submit" value="提交" />
</form>