<article>
	<h2 class="article-title"><%= @title %></h2>
	<p class="article-brief">摘要：<%= @brief %></p>
	<%= @content %>
	<p class="article-footer">本条目发布于<time><%= @date %></time>。属于<a href="<%= $SITE_URL %>/category/<%= @category_id %>"><%= @category %></a>分类。作者是<a href="<%= $SITE_URL %>/user/<%= @author_id %>"><%= @author %></a>。</p>
</article>