<!DOCTYPE html>
<html lang="zh-cn">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= @page_title %></title>
	<link rel="stylesheet" href="http://may-fly.org/css/user.css">
	</head>

	<body>
	<div id="page">
	
		<header>
		<hgroup>
			<h1 id="site-title" href="http://may-fly.org/" title="蜉蝣人文爱好小组">蜉蝣人文爱好小组</h1>
			<p id="site-description">心之忧矣，於我归处。</p>
		</hgroup>

			<nav>	
					<a href="http://may-fly.org/">首页</a>
					<a href="http://may-fly.org/article/9">关于我们</a>
					<a href="http://may-fly.org/category/1">策划</a>
			</nav>
		</header>

		<div id="page-content">
			<%= @content %>
			<%= @comment %>
			<%= @comment_area %>
		</div>

		<aside>
			<ul><p class="menu-title">分类目录</p>
				<%= @category_list %>
			</ul>
		</aside>

		<footer>
			<p>powered by CicholGricenchos</p>
		</footer>
	</div>
	</body>
</html>