
	<div id="primary" class="site-content">
		<div id="content" role="main">
	<article class="post">
				<header class="entry-header">
									<h1 class="entry-title"><a href="http://may-fly.org/article/<%= @id %>"><%= @title %></a></h1>
								</header><!-- .entry-header -->

				<div class="entry-content">
					<p>摘要：<%= @brief %></p>
				</div><!-- .entry-content -->
		
		<footer class="entry-meta">
			本条目发布于<time class="entry-date"><%= @date %></time>。属于<a href="http://may-fly.org/archives/category/uncategorized" title="查看未分类中的全部文章" rel="category tag"><%= @category %></a>分类。作者是<span class="author"><a class="url fn n" href="http://may-fly.org/archives/author/cichol" title="查看所有由Cichol发布的文章" rel="author"><%= @author %></a></span>。							</footer><!-- .entry-meta -->
	</article><!-- #post -->
		</div><!-- #content -->
	</div><!-- #primary -->
