<article>
	<h2 class="title"><a href="http://may-fly.org/article/<%= @id %>"><%= @title %></a></h2>
	<p class="brief">摘要：<%= @brief %></p>
	<p class="footer">本条目发布于<time><%= @date %></time>。属于<a href="http://may-fly.org/category/<%= @category_id %>" title="查看<%= @category %>中的全部文章"><%= @category %></a>分类。作者是<a class="url fn n" href="http://may-fly.org/user/1" title="查看所有由Cichol发布的文章"><%= @author %></a>。</p>
</article>