<a <%= 'class="current"' if @current_nav==1 %> href="<%= $SITE_URL %>">首页</a>
<a <%= 'class="current"' if @current_nav==2 %> href="<%= $SITE_URL %>/article/9">关于我们</a>
<a <%= 'class="current"' if @current_nav==3 %> href="<%= $SITE_URL %>/category/1">策划</a>
